@import 'components/base.css';
@import 'components/navbar.css';
@import 'components/footer.css';

#content-container {
  padding: 0 30rem;
}

#blog-date { 
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.3em;
  color: #BCBCBC
}

.title {
  font-size: 5.2em;
  margin: 0
}

.subtitle {
  font-size: 2em;
  margin: 0;
  color: #8A8A8A;
}

#author-info {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.time-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#social-media {
  color: #444444
}

.icon-image {
  height: 3.8rem;
  width: 3.8rem;
  margin-right: 1rem;
}

.round {
  border-radius: 50%;
}

.author-title {
  font-size: 1.4em;
  font-weight: 700;
}

figure {
  margin: 0 0 2em 0;
}

.blog-img {
  max-width: 88.5rem;
}

article.body {
  font-size: 1.8em;
  font-family: "Roboto";
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  #content-container {
    padding: 2rem;
  }

  .blog-img {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #navbar ul {
    margin: 0 1rem;
  }

  #content-container {
    padding: 0.5em;
  }

  .blog-img {
    max-width: 100%;
  }
}
  
